.pN {font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; 
    font-style: italic;
font-weight:100  ;
text-align: justify;}

.accordion {background-color: turquoise;}

.azulN {background-color: turquoise;}