@import "picadas","nosotros";
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');
header{
    position:fixed;
    z-index: 10;
    width: 100%; 
    height: 50px; 
    display: flex;
         
h1 {
    color: rgb(255, 255, 255);
    letter-spacing: 5px;
    word-spacing: 30px;
    font-size: 30px;
    font-family: Georgia, 'Times New Roman', Times, serif; 
    margin-left: 20px; }
    
.nI {width: 28px; height: 28px; margin-bottom: 4px;}

.hLogo:hover {text-decoration: none; }
    
.imagenFacebook { 
    width: 40px; height: 40px; 
    transition: heigh 1s, width 1s;
    margin-top: 4px;}
.imagenInstagram { 
    width: 40px; height: 40px;  
    transition: heigh 1s, width 1s;
    margin-top: 4px;}
.imagenInstagram:hover {
    height: 42px; 
    width: 43px;}
.imagenFacebook:hover {
    height: 42px; 
    width: 43px;}
.contacto {
    background-color: rgb(216, 118, 216); 
    color: white; 
    border: 6px; 
    font-weight: bold;
height: 104px;}
.contacto:hover {background-color: rgb(0, 0, 0);}
//     /* NAV  */
.navNumero1 {
    display: flex;
    justify-content: flex-end;
    
}
  
// /* ESTOS SON LOS UL  */
// .linksHtml {
// list-style: none; 
// display: flex;
// }
/* ESTOS SON LOS DEL SUBMENU */
.ulNav {
    list-style: none; 
    border: 1px solid rgb(12, 10, 10); 
    background-color:rgba(0, 0, 0, 0.5);}
/* ESTOS SON LOS LI  */
.menuItem {
    color: rgb(0, 0, 0); 
     
    font-size: 20px;}

.menuItem a {
    text-decoration: none; 
    color: white;}
.menuItem a:hover {
    color: rgb(0, 0, 0); }

// /* ESTOS SON LOS DOS UL DE LA LISTA Y DEL SUBMENU */
.linksHtml .ulNav {
    position: absolute; 
    display: none;}
/* ESTOS SON LOS DOS UL Y UN LI  */
.linksHtml .ulNav .menuItem {
    display: block;}
.linksHtml .menuItem:hover .ulNav {
    display: block;}

    
  
}

body 
{
    font-style: normal; 
    font-weight: normal; 
    font-size: 12px; 
    font-family: 'Dancing Script';
    background-color: white;
    color: #222222;
    background-image: url(../Imagenes/fondo.jpg);
    background-repeat: no-repeat;
    background-size: cover;


}

  
    
main {

#demo {width: 100%;
height: 100%;
display: flex;
align-content: initial;
margin: 0 0 0 0;
position:sticky;
z-index: 1;}

.captionC {font-family: 'dancing script'; font-size: 40px; color: rgb(0, 0, 0); background-color: rgba(255, 0, 0, 0.514); font-weight: 800;}
.captionCc {font-family: 'dancing script'; font-size: 30px; color: rgb(0, 0, 0); background-color: rgba(255, 0, 0, 0.514); font-weight: 600; }
.h1C {width: 100%;
    height: 50px;
    background-color: rgba(0, 0, 0, 0.322);
    color: white;}
.pN {font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; 
    font-style: italic;
font-weight:100  ;
text-align: justify;}
    

#demo h2 {text-align: center;}
.carousel-inner img {
    width: 100%; 
    height: 100%;}


.indexH { 
    width: 100%; 
    height: 100px; 
    background-image: url(../Imagenes/PICADA-2.jpg); 
    background-repeat: no-repeat; 
    background-position: center; 
    background-size: cover; 
    display: flex; 
    justify-content: center; 
    align-items: center;}
.indexH2 {
    color: white;}
.indexH {
    animation-duration: 3s; 
    animation-name: aparecer;}

    // <!------ Animacion de Header ------!>
@keyframes aparecer {
      0% {opacity: 0;}
      100% {opacity: 1;}
    }
.imagenPicadas {
    width: 100%; 
    height: auto; 
    transition: heigh 1s, 
    width 1s; }
.imagenPicadas2 {
    width: 100%; 
    height: auto; 
    transition: heigh 1s, 
    width 1s;}
.sectionB {
    width: 80%;
    margin: 2em auto;}
    
.artB { 
    margin: 4em 0; 
    display: flex; 
    align-items: center;}
.divB {
    padding: 6em;}
    
.artB img {
    width: 400px;}
.artB h2 {
    margin-bottom: 1em;}
.revers {
    flex-direction: row-reverse;}
.justify {
    display: flex; 
    flex-direction: row; 
    justify-content:space-around; 
    align-items:center;}
    
p { 
    height: 16%px; 
    width: 60%px; 
    font-size: 30px;
    text-align: center;
    margin-bottom: 60px;
    font-family: 'dancing script';}
.indexH2, h2 {
    font-family: 'dancing script';}
    
    
h2 {
    font-size: 50px;
    color: rgb(0, 0, 0);
    font-family: 'dancing script', 'imparalli type';
    text-align: center;}

table { 
    width: 80%; 
    empty-cells: hide; 
    border-collapse: collapse;  
    color: #666; 
    margin: auto;  
    border: solid;}
    
th,td { 
    width:20%;
    padding: 2%; 
    text-align: left;
    border: solid; 
    list-style-position:inside; 
    font-size: 20px;}
ol.upperRoman {
    list-style-type: upper-roman;}
    
ol.upperLatin {
    list-style-type: upper-latin;}
    
ul.iconoMoto {
    list-style: square inside url(../Imagenes/delivery.png);}
video {
    width: 100%; 
    height: 400px; 
    margin-top: 40px;
    margin-bottom: 40px;}
label {margin-left: 80px ;}
input {width: 350px; height: 40px; }
select {width: 100px;}
textarea {width: 350px; height: 40px; }
button {margin-left: 280px; width: 150px;}


.float {
        position: fixed;
        width: 50px;
        height: 50px;
        bottom: 40px;
        right: 40px;
        background-color: #25d366;
        color: #FFF;
        border-radius: 50px;
        text-align: center;
        font-size: 30px;
        box-shadow: 2px 2px 3px #999;
        z-index: 100;
    }
.uClass {color: white; 
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif; 
    text-align:left; 
    margin-left: 50px;}

.mapaR {margin-left: 90px;}
.map-responsive{

    overflow:hidden;

    padding-bottom:56.25%;

    position:relative;

    height:0;

}

.map-responsive iframe{

    left:0;

    top:0;

    height:100%;

    width:100%;

    position:absolute;

}
}





a { 
    color: #fff; 
    text-decoration: none; 
    list-style: none;
    
}

a:hover {text-decoration:none;}
     
footer{
        width: 100%;
        background: #202020;
        color: white;   
    
    
    
    .container-footer-all{
        width: 100%;
        max-width: 1200px;
        margin: auto;
        padding: 40px;
    }
    
    .container-body{
        display: flex;
        justify-content: space-between;
    }
    
    .colum1{
        max-width: 400px;
    }
    
    .colum1 h1{
        font-size: 22px;
    }
    
    .colum1 p{
        font-size: 14px;
        color: #C7C7C7;
        margin-top: 20px;
    }
    
    .colum2{
        max-width: 400px;
    
    }
    
    .colum2 h1{
        font-size: 22px;
    }
    
    .row{
        margin-top: 20px;
        display: flex;
    }
    
    .row img{
        width: 52px;
        height: 50px;
    }
    
    .row label{
        margin-top: 10px;
        margin-left: 20px;
        color: #C7C7C7;
    }
    
    .colum3{
        max-width: 400px;
    }
    
    .colum3 h1{
        font-size: 22px;
    }
    
    .row2{
        margin-top: 20px;
        display: flex;
    }
    
    .row2 img{
        width: 36px;
        height: 36px;
    }
    
    .row2 label{
        margin-top: 10px;
        margin-left: 20px;
        max-width: 140px;
    }
    
    .container-footer{
        width: 100%;  
        background: #101010;
    }
    
    .footer{
        max-width: 1200px;
        margin: auto;
        display: flex;
        justify-content: space-between;  
        padding: 20px;
    }
    
    .copyright{
        color: #C7C7C7;
    }
    
    .copyright a{
        text-decoration: none;
        color: white;
        font-weight: bold;
    }
    
    .information a{
        text-decoration: none;
        color: #C7C7C7;
    }
    
    
    @media screen and (max-width: 1100px){
    
        .container-body{
            flex-wrap: wrap;
        }
    
        .colum1{
            max-width: 100%;
        }
    
        .colum2,
        .colum3{
            margin-top: 40px;
        }
    }
    

.imagenF {
    width: 30px; 
    height: 30px; 
    display: inline-block;}
}
footer nav { 
    text-align: center; 
    background-color: transparent;
text-decoration: none;}
// APLICACION DE BEM -----------!>
.header0__logo--color{
        color: aquamarine;
    }
.header0__logo {text-shadow: 4px 4px 10px black; font-size: 40px;}

.indexH__indexH2--color {color: white;}

.indexH__indexH2 {font-size: 60px; 
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; 
    font-style: oblique;}
.contenedor__h2--color {color: rgba(24, 17, 17, 0.61); }

.contenedor__h2 {font-size: 60px;}

.contenedor__h3--color {color: rgba(44, 39, 39, 0.61); }

.contenedor__h3 {font-size: 40px; text-align: center; font-family:'Times New Roman', Times, serif;}
